<div class="track-profile-container">
  <div class="review-card">
    <h2>{{ personName }}</h2>
    <p>{{ address }}</p>
    <div class="tracker">
      <div class="status" [class.active]="status >= 1">Resume Uploaded</div>
      <div class="status" [class.active]="status >= 2">Resume Reviewed by HR</div>
      <div class="status" [class.active]="status >= 3">Resume {{ resumeDecision }}</div>
      <div class="status" [class.active]="status >= 4">Interview Call: {{ interviewStatus }}</div>
    </div>
  </div>
</div>
