<header class="header-container">
  <div class="header-left">
    <img src="assets/cp-logo.svg" alt="Logo" class="logo" />
    <span class="title">Corporate Naukri</span>
  </div>
  <div class="header-right">
    <ng-container *ngIf="showLoginButton">
      <button class="login-btn" (click)="login()">Login / Sign In</button>
    </ng-container>
    <ng-container *ngIf="showProfileIcon && isLoggedIn">
      <div class="profile-menu" (click)="toggleMenu()">
        <img src="assets/profile-icon.svg" alt="Profile" class="profile-icon" />
        <div class="dropdown" *ngIf="menuOpen">
          <button (click)="logout()">Logout</button>
          <button (click)="updateProfile()">Update Profile</button>
        </div>
      </div>
    </ng-container>
  </div>
</header>
