services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: naukri_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    image: corporate-naukri-backend:local
    restart: always
    environment:
      DATABASE_URL: postgres://user:password@db:5432/naukri_db
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    image: corporate-naukri-frontend:local
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: